*{
  box-sizing: border-box;
}

body{
  background-color: #484B58;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

header{
  background-color: #484A59;

}

main{
  background-color: #2F303A;
  font-family: 'Nunito', 'Arial', sans-serif;
  color: white;
  padding: 1%;
  max-width: 90%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

section:not(#logo){
  display: block;
  background-color: #484B58;
  border-radius: 15px;
  margin: 1%;
  padding: 1% 1%;
  border-color: #7B5EC6;
  border-style: solid;
  border-width: 2px;
  width: auto;
}

#logo{
  display: block;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, white 0%, #69448E 66%, #69448E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul{
  text-align: center;
}

nav ul li{
  list-style: none;
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
}

nav ul li:hover{
  transition: 1s ease background;
  background-color: black;
}

hr{
  width: 50%;
}

a {
    all: unset;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 22px;
  margin-top: 2%;
  margin-bottom: 1%;
}

h2.kategorie{
  font-size: 22px;
  line-height: 0;
}

#auth{
  text-align: right;
}

p + ul {
    margin-top: -10px;
}

p, ul {
    padding: 0;
    margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

td.colspan{
  column-span: 2;
  text-align: center;

}

table.prihlaseni{
  margin-left:auto; 
  margin-right:auto;
}

#nespravne{
  text-align: center;
}

header nav ul a{
  cursor: pointer;
}

[href]:not([href=""])
    {
      cursor: pointer;
    }

a.prejit{
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 2px 2px;
}

.obrazky{
  text-align: center;
}

.cena {
  border-collapse: collapse;
  width: 100%;
}

.cena td, .cena th {
  border: 1px solid #ddd;
  padding: 8px;
}

.cena tr:nth-child(even){background-color: #575757;}

.cena tr:hover {background-color: #4C0070;}

.cena th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7B5EC6;
  color: white;
}

.form_send {
  box-shadow:inset 0px 1px 0px 0px #8b2fc9;
  background:linear-gradient(to bottom, #6819a8 5%, #572085 100%);
  background-color:#6819a8;
  border-radius:6px;
  border:1px solid #731eb0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  font-family: 'Nunito', 'Arial', sans-serif;
  color: white;
  text-shadow:0px 1px 0px #8100eb;
}
.form_send:hover {
  background:linear-gradient(to bottom, #572085 5%, #6819a8 100%);
  background-color:#572085;
}
.form_send:active {
  position:relative;
  top:1px;
}

#wide_text{
  width: 100%;
  height: 100%;
}

#favorite {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 28px; /* Increase font size */
}

#oblibene_produkt{
  color: red;
  font-size: 28px;
}

img{
  max-width: 100%;
  height: auto;
}

p{
  margin-top: 2%;
}