{extends layout.latte} 
{block title}Cena produktu{/block} 
{block body} 
<main>
  <h1>{$nazev_produkt}</h1>{if isset($prihlaseny_uzivatel['id_uzivatel']) && $prihlaseny_uzivatel['id_uzivatel'] != null}<a href="{link oblibene_pridat, ['id_produkt'=>$id_produkt]}"><span id="oblibene_produkt" class="material-icons">favorite</span></a>{/if}
  <!--{if isset($message)}<p>{$message}</p>{/if}-->
  <section>
    <table class="cena">
      <tr>
        <th>Datum</th>
        <th>Cena</th>
        {if isset($prihlaseny_uzivatel['id_uzivatel'])}
        	<th>Odebrat</th>
          <p>{$nazev_produkt}</p>
        {/if}
      </tr> 
      {foreach $produkt as $p} 
      <tr>
        <td>{$p['datum']}</td>
        <td>{$p['cena']} Kč</td>
        {if isset($prihlaseny_uzivatel['id_uzivatel'])}
        	<td><a href="{link smazat_cena, ['id_cena'=>$p['id_cena'], 'nazev_produkt'=>$nazev_produkt]}" onclick="return confirm ('Jste si jistý?')"><span class="material-icons">delete</span></a></td>
        {/if}
      </tr> 
      {/foreach}
    </table>
  </section>
  <section>
  	<form method="post">
  		<table>
	      <tr>
	      	<input type="hidden" name="id_produkt" value="{$produkt[0]['id_produkt']}"/>
	        <td>Cena:</td>
	        <td><input type="number" step="0.1" name="cena" required/></td>
	      </tr>
	      <tr>
	        <td>Datum:</td>
	        <td><input type="date" name="datum" required/></td>
	      </tr>
	      {if !isset($prihlaseny_uzivatel['id_uzivatel'])}
	      	<tr>
        		<td>Komentář:</td>
        		<td><textarea id="wide_text" type="text" name="komentar" required /></td>
      		</tr>
	      {/if}
	    </table>
	    <td><button type="submit" class="form_send">Odeslat</button></td>
	    </form>
  </section>
</main> 
{/block}