{extends layout.latte}

{block title}Index{/block}

{block body}
    <section id="navigace">
         <nav>
            <ul>
               <a href="{link kategorie}"><li>Kategorie</li></a>
            </ul>
         </nav>
      </section>
    <section class="zadani">
       <p>Potřebujeme vytvořit webovou aplikaci, která bude spravovat online nabídku produktů. Uživatelé bez přihlášení budou moci prohlížet v jednotlivých kategoriích produktů. U každého produktu budeme ukládat, jeho název, výrobce, bude nás ale také zajímat vývoj cen na trhu. Budeme tedy potřebovat ukládat aktuální ceny k určitému datu. Návštěvník našeho webu pak bude mít možnost historii vývoje cen produktů zobrazit.</p><p>Produkty vždy budou spadat do určité kategorie, která bude charakterizovaná svým názvem a popisem. Vytvářet kategorie, vkládat nové produkty může pouze přihlášený uživatel (Administrátor). Ceny produktů budou moci vkládat i nepřihlášení uživatelé. Pokud takový uživatel bude chtít vložit cenu, bude muset do komentáře napsat, kde je tato cena uvedena (například Obchod, či E-shop). Vymazat vloženou cenu bude mít možnost zase pouze administrátor.</p>
   </section>
   <section class="obrazky">
      <h2>ER diagram</h2>
      <img src="/public/img/erd.png">
   </section>
   <section class="obrazky">
      <h2>Use Case diagram</h2>
      <img src="/public/img/uml.png">
   </section>
{/block}