{extends layout.latte}

{block title}Kategorie{/block}

{block body}
   <main>
      <h1>Kategorie</h1>
         <section>
            {foreach $kategorie as $k}
               <h2 class="kategorie">{$k['nazev']}</h2>
               <p>{$k['popis']}</p>
               <a class="prejit" href="{link produkty, ['nazev_kategorie'=>$k['nazev']], ['id_kategorie'=>$k['id_kategorie']]}">Přejít na {$k['nazev']}</a>
            {/foreach}
         </section>
   </main>
{/block}