<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>{include title}</title>
    {ifset meta}{include meta}{/ifset}
</head>
<body>
	<main>
		<header id="auth">
			<nav>
				<ul>
					<a href="{link index}"><li><span class="material-icons">home</span></li></a>
					{if isset($prihlaseny_uzivatel['id_uzivatel']) && $prihlaseny_uzivatel['id_uzivatel'] != null}
            			<a href="{link odhlasit}" title="Kliknutím se odhlásíte."><li><span>{$prihlaseny_uzivatel['id_uzivatel']}</span></li></a>
            				<!--<a title="Přidání kategorií a produktů."><li><span class="material-icons">widgets</span></li></a>-->
	            			<a href="{link pridat_kategorie}" title="Přidání kategorií."><li>Přidat kategorii</li></a>
	            			<a href="{link pridat_produkt}" title="Přidání produktů."><li>Přidat produkt</li></a>
            		{else}
            			<a href="{link prihlasit}"><li><span>Přihlásit se</span></li></a>
            		{/if}
				</ul>
			</nav>
		</header>
		<section id="logo">
			<p><h1 class="noselect">Komparátor cen</h1></p>
			<hr/>
			<p><h2 class="noselect">Projekt do VWA</h2></p>
		</section>
		{if isset($prihlaseny_uzivatel['id_uzivatel']) && $prihlaseny_uzivatel['id_uzivatel'] != null}
		<a href="{link oblibene}"><span id="favorite" class="material-icons">favorite</span></a>
		{/if}
		{include body}
	</main>
</body>
</html>