{extends layout.latte}

{block title}Nesprávné přihlášení{/block}

{block body}
    <section id="nespravne">
          <h1><span class="material-icons">warning</span> Nesprávné přihlášení! :( <span class="material-icons">warning</span></h1>
          <h2>Zkuste se znovu přihlásit. :)</h2>
    </section>
{/block}