{extends layout.latte}

{block title}Oblíbené{/block}

{block body}
   <main>
      <h1>Oblíbené</h1>
      {if isset($message)}
         <p>{$message}</p>
      {/if}
      <section>
         <table class="cena">
            <tr>
               <th>Název</th>
               <th>Výrobce</th>
               <th>Odebrat</th>
               </tr> 
               {foreach $produkt as $p} 
               <tr>
                  <td>{$p['nazev']}</td>
                  <td>{$p['vyrobce']}</td>
                  <td><a href="{link oblibene_odebrat, ['id_oblibene'=>$p['id_oblibene']]}"><span class="material-icons">delete</span></a></td>
               </tr> 
               {/foreach}
    </table>
  </section>
   </main>
{/block}