{extends layout.latte} 
{block title}Přidat produkt{/block} 
{block body} 
<main>
  <h1>Přidání produktu</h1>
  <!--{if $message}<p>{$message}</p>{/if}-->
  <section>
    <form method="post">
    <table>
      <tr>
        <td>Kategorie:</td>
        <td><select name="id_kategorie">
          {foreach $kategorie as $k}
          <option title="{$k['popis']}" value="{$k['id_kategorie']}">
            {$k['nazev']}
          </option>
          {/foreach}
        </select></td>
      </tr>
      <tr>
        <td>Název:</td>
        <td><input type="text" name="nazev" required/></td>
      </tr>
      <tr>
        <td>Výrobce:</td>
        <td><input type="text" name="vyrobce" required/></td>
      </tr>
    </table>
    <td><button type="submit" class="form_send">Odeslat</button></td>
    </form>
  </section>
</main> 
{/block}