{extends layout.latte} 
{block title}Přidat produkt{/block} 
{block body} 
<main>
  <h1>Přidání kategorie</h1>
  <!--{if $message}<p>{$message}</p>{/if}-->
  <section>
    <form method="post">
    <table>
      <tr>
        <td>Název:</td>
        <td><input type="text" name="nazev" required/></td>
      </tr>
      <tr>
        <td>Popis:</td>
        <td><textarea id="wide_text" type="text" name="popis" required/></td>
      </tr>
    </table>
    <button type="submit" class="form_send">Odeslat</button>
    </form>
  </section>
</main> 
</main> 
{/block}