{extends layout.latte}

{block title}Přihlášení{/block}

{block body}
   <main>
      <h1>Přihlášení</h1>
      <section>
         <form method="post">
            <table class="prihlaseni">
               <tr>
                  <td>Přihlašovací jméno:</td>
                  <td><input type="text" name="id_prihlasovaci" required/></td>
               </tr>
               <tr>
                  <td>Heslo:</td>
                  <td><input type="password" name="heslo" required/></td>
               </tr>
               <tr>
                  <td class="colspan" colspan="2"><input type="submit" value="Přihlásit"/></td>
               </tr>
            </table>
         </form>
      </section>
   </main>  
{/block}