{extends layout.latte}

{block title}Produkty{/block}

{block body}
   <main>
      <h1>Produkty</h1>
      <!--{if $message}
         <p>{$message}</p>
      {/if}-->
         <section>
            {foreach $produkt as $p}
               <form method="post">
                  <input type="hidden" name="id_produkt" value="'{$p['id_produkt']}'">
                  <h2 class="kategorie"></a>{$p['nazev']}</h2>
               </form>
               <p>Výrobce: {$p['vyrobce']}</p>
               <a class="prejit" href="{link cena, ['nazev_produkt'=>$p['nazev']], ['id_produkt'=>$p['id_produkt']]}">Přejít na cenu produktu {$p['nazev']}</a>
            {/foreach}
      </section>
   </main>
{/block}